@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(/src/app/fonts/albert-sans-v1-latin-regular.woff2);

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #202020;
  --secondary: #888888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
    --secondary: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 0.9rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  :root {
    --radius: 0.5rem;
  }
}
