@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #141414;
  --foreground-light: #515151;
  --foreground-dark: #343434;
  --grayshade: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #d6d6d6;
    --foreground-light: #9c9c9c;
    --foreground-dark: #888888;
    --grayshade: #181818;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 0.9rem;
}

@layer utilities {
  .text-balance {
    overflow-wrap: break-word;
    text-wrap: balance;
  }
}

@layer base {

  :root {
    --radius: 0.5rem;
  }
}

/* loading animation */

.loader {
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #424242;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* scrollbar styling */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c73c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b2b2b2; 
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
